[submodule "marmot-ts"]
	path = marmot-ts
	url = https://github.com/marmot-protocol/marmot-ts.git
[submodule "docs/nips"]
	path = docs/nips
	url = https://github.com/nostr-protocol/nips.git
[submodule "nix/nostr-bench"]
	path = nix/nostr-bench
	url = ssh://gitea@git.teralink.net:10322/self/nostr-bench.git
